<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>
You have obtained {{ item }}!<p>

<img src="https://images-na.ssl-images-amazon.com/images/I/71ZYDyxP7EL._SX355_.jpg"
     width="350" height="250"/><br>

<a href="/goto/{{where}}/">Proceed</a><br>

</body>
</html>