<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>
Once the monster is defeated, you continue forward and come across a clearing in the forest. There
    doesn't appear to be much here, save for a conspicuous wooden chest in the center of the area.<p>
What will you do?<p>
<a href="/chest/Potion/">Open the chest</a><br>
</body>
</html>