<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>
Upon entering the forest, you see two paths in front of you.<p>
Where will you go?<p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Split_Path_-_panoramio.jpg"
    width="350" height="250"/><br>

<a href="/generate/monster/left/">Left path</a><br>
<a href="/generate/monster/right/">Right path</a>

</body>
</html>