<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>

Once Kaleidoscope falls, a tunnel entrance opens up in the floor. Surely you must be getting
close to Gonandarf...<p>

As you enter the tunnel, the first thing you see is a wooden chest on the floor!<p>

<img src="http://pixdaus.com/files/items/pics/4/83/298483_fd83c318aab997c28a7b61cc689b1335_mdsq.jpg"
     width="300" height="350"/><br>

<a href="/chest/Super Potion/">Open the chest</a><br>

</body>
</html>