<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>
As you reach the room at end of the tunnel, a sense of foreboding washes over you...<p>
The moment you see the dark, hulking figure you know...this is where, one way or another,
your journey will end.<p>
This...is Gonandarf.<p>
Now go, brave Lonk! Zolda is counting on you!<p>

<img src="https://i.ytimg.com/vi/rzBCzeMOvS8/maxresdefault.jpg"
     width="350" height="250"/><br>

<a href="/boss/{{ where }}/">Proceed!</a><br>

</body>
</html>