<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<br>
........Slot Three: {{ item3 }}<br>
........Slot Four: {{ item4 }}<p>
Weapon: {{ weapon }}<p>
************<p>
Inventory full...what would you like to drop?<p>

<a href="/swap/one/{{item}}/">{{ item1 }}</a><br>
<a href="/swap/two/{{item}}/">{{ item2 }}</a><br>
<a href="/swap/three/{{item}}/">{{ item3 }}</a><br>
<a href="/swap/four/{{item}}/">{{ item4 }}</a><br>
<a href="/goto/{{ where }}/">Nothing, discard {{ item }} and proceed</a><br>

</body>
</html>