<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<br>
........Slot Three: {{ item3 }}<br>
........Slot Four: {{ item4 }}<p>
Weapon: {{ weapon }}<p>
************<p>
After looking up from the chest, you notice an island in the center of the lake. For whatever
reason, you decide to swim out to it.<p>

As you approach the island, you start to see creatures moving around on the shore.<p>

<a href="/generate/monster/{{ where }}/">Proceed</a><br>

</body>
</html>