<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<br>
........Slot Three: {{ item3 }}<br>
........Slot Four: {{ item4 }}<p>
Weapon: {{ weapon }}<p>
************<p>
You have gone to the {{where}} and found a {{name}}.<p>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51QnDuSzMqL.jpg"
        width="300" height="250"/><br>
        What will you do?<p>
        <a href="/first_turn/{{name}}/">Engage in Battle</a><br>
        <a href="/flee/{{name}}/">Try to Run</a><br>

</body>
</html>