<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>

Suddenly, you notice a shadowy figure stalking towards you from out of the trees...<p>
Is it...? No, it can't be!<p>
It's Gonandarf!<p>
...wait, no it's not. It's just a cheap knockoff of Gonandarf that also happens to be a ghost...
    or a phantom, we could say.<p>
Lame...oh well, it's probably for the best. You still need to level up some before you face
    the real Gonandarf. Time to take this thing down!<p>

<img src="http://3.bp.blogspot.com/-WKWYx1lG8O4/Voge7br9j8I/AAAAAAABK0I/i0Ou4XhFvvI/s1600/yelloweyedentity.JPG"
     width="350" height="250"/><br>

<a href="/boss/{{ where }}/">Proceed</a><br>

</body>
</html>