<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>
You've found a new weapon!<p>

<img src="https://www.sccpre.cat/mypng/detail/40-404729_swords-cross-sword-vector-png.png"
     width="350" height="250"/><br>

<a href="/weapon/{{ where }}/">Pick it up</a><br>

</body>
</html>