<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Legend of Zolda: Majora's Flask</h1>
HP: {{ current_hp }}/{{ total_hp }}<br>
Level: {{ level }}<br>
EXP: {{ experience }}<p>
Inventory:<br>
........Slot One: {{ item1 }}<br>
........Slot Two: {{ item2 }}<p>
Weapon: {{ weapon }}<p>
************<p>
You got a {{ new_weapon }}!<p>

<img src="https://p3d.in/model_data/wideshot/9B1q4"
     width="250" height="350"/><br>

Discarded old weapon in favor of {{ new_weapon }}.<p>
<a href="/goto/{{where}}/">Proceed</a><br>

</body>
</html>